/* @import "@fontsource/dm-sans"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/Fonts/DMSans-Thin.ttf') format('opentype');
  font-weight: 100;
}


@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/Fonts/DMSans-ExtraLight.ttf') format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/Fonts/DMSans-Light.ttf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/Fonts/DMSans-Regular.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/Fonts/DMSans-Medium.ttf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/Fonts/DMSans-SemiBold.ttf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/Fonts/DMSans-Bold.ttf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/Fonts/DMSans-ExtraBold.ttf') format('opentype');
  font-weight: 800;
}




body{
  margin: 0px;
  font-family: 'DM Sans';
}

/* font classes starts here  */
.contact-text{
 font-weight: 400;
 color:#14181F;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%; 
  text-decoration: none;
  display: flex;
  /* align-items: end; */
  gap: 4px;
}

h1{
  font-size: 58px;
  line-height: 80px;
  font-weight: 700;
  color: #14181F;
  letter-spacing: -1%;
}

h2{
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: #14181F;
  letter-spacing: -1%;
}

h3{
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: #14181F;
  letter-spacing: -1%;
}

h4{
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color: #14181F;
  letter-spacing: -1%;
}

h5{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #14181F;
  letter-spacing: -1%;
}

h6{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #14181F;
  letter-spacing: -1%;
}